<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Our Locations!</title>
</head>
<body>
		<div class="location-page-body center">
			<h1>Global Offices</h1>
			<p>
			</p>
			<p>
				<a href="/signup" th:href="@{/signup}" class="btn btn-large btn-success">Click here for more info on this location</a>
			</p>
			<p>
				<a href="/signup" th:href="@{/signup}" class="btn btn-large btn-success">Click here for a new location</a>
			</p>
		</div>
	</body>
</html>